.about-project__text {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

@media screen and (max-width: 320px) {
  .about-project__text {
    margin-top: 60px;
    flex-direction: column;
  }
}
