.card__title {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

@media screen and (max-width: 320px) {
  .card__title{
    font-size: 12px;
    line-height: 15px;
  }
}
