.progress {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding-top: 110px;
  grid-template-rows: 1fr 1fr;
}

@media screen and (max-width: 768px) {
  .progress {
    padding-top: 93px;
    grid-template-columns: 2fr 4fr;
  }
}

@media screen and (max-width: 320px) {
  .progress {
    padding-top: 60px;
    grid-template-columns: 100px 184px;
  }
}
