.header-menu__link-black {
  margin-left: 20px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: black;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .header-menu__link-black {
    margin-left: 0;
    margin-bottom: 28px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .header-menu__link-black:last-of-type {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 320px) {
  .header-menu__link-black {
    margin-bottom: 24px;
  }
}

.header-menu__link-black:hover {
  opacity: 0.8;
  transition: .3s;
}
