.info__link {
  text-decoration: none;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.info__link:hover {
  transition: .3s;
  opacity: .7;
}
