.card__save-icon_active {
  width: 21px;
  background-color: #EE3465;
  background-image: url(../../../../images/save-icon_active.svg);
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
}

.card__save-icon_active::after {
  content: '';
}
