.card__duration {
  padding: 3px 7px;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 10px;
  text-align: center;
  color: #A0A0A0;
  background: #F9F9F9;
  border-radius: 3px;
}
