.about-me__link {
  margin-right: 20px;
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

@media screen and (max-width:320px) {
  .about-me__link {
    margin-right: 26px;
  }
}

.about-me__link:hover {
  opacity: 0.8;
  transition: .3s;
}
