.about-me__items {
  display: flex;
  justify-content: space-between;
  margin-top: 66px;
}

@media screen and (max-width: 730px) {
  .about-me__items {
    flex-direction: column;
    align-items: center;
    margin: 66px auto;
  }
}

@media screen and (max-width: 320px) {
  .about-me__items {
    flex-direction: column;
    margin-top: 60px;
  }
}
